################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ssgs-69631/.vs
/ssgs-69631/TestGeospatialServices/.vs/TestGeospatialServices/v15
/ssgs-69631/TestGeospatialServices/obj/Debug
/ssgs-69631/OgcServices/bin
/ssgs-69631/OgcServices/obj
/ssgs-69631/GeospatialServices/bin
/ssgs-69631/GeospatialServices/obj
/ssgs-69631/BuildProcessTemplates
